<div class="container">
        <h2 class="margin-top-3em montserrat-bold">Passeadores</h2>
      
        <div class="row">
          <div class="col-md-6">
              <ul class="list-unstyled">
                  <li *ngFor="let walker of walkers" class="item-list">
                    <div class="row">
                      <div class="col-md-10">
                        <div class="margin-top-3em montserrat-medium">
                          <b>Nome do Cliente: </b>{{walker.name}}
                        </div>
                        <div class="montserrat-medium">
                          <b>Endereço: </b>{{walker.endereco}}
                        </div>
                      </div>

                      <div class="col-md-2">
                        <img [src] = PUG alt="" class="img-list">
                      </div>

                    </div>
                    <hr>
                  </li>
              </ul>
          </div>      
        </div>
      
      </div>