<div class="container margin-top" id="">
    <div class="center montserrat-bold">
        <img [src]="WALK" alt="" class="img-walk">
        <h1>Passeios para cãezinhos</h1>
        <p class="montserrat-light">Peça passeios para o cachorro farejar novos ares e gastar energia.</p>
    </div>

    <div class="container margin-top">
        <div class="row space-between-cards">
            <div class="col-md-6 center">
                <img [src] = "PAW" alt="" class="icon-home">
                <h4 class="text-card montserrat-medium">Cadastrar meu Cãozinho</h4>
                <a routerLink="cadastro-cliente">
                    <button type="button" class="button-primary card-button center-button montserrat-bold">Cadastrar-me</button>
                </a>
            </div>
            <div class="col-md-6 center">
                <img [src] = "WALKER" alt="" class="icon-home">
                <h4 class="text-card montserrat-medium">Quero ser Passeador</h4>
                <a routerLink="/cadastro-walker">
                    <button type="button" class="button-primary card-button center-button montserrat-bold">Cadastrar-me</button>
                </a>
            </div>
        </div>
    </div>

</div>